* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kumbh Sans", serif;
}
/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px 40px 60px;
  background-color: #6f74f4;
  border: 5px inset #ff6347;
  margin-bottom: 100px;
}
/*LOGO*/
#logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
#p-logo {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
/*Navigation*/
#navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}
#navigation-input {
  width: 130px;
  height: 27px;
  border: none;
  border-radius: 3px;
}
#navigation-button {
  width: 60px;
  height: 27px;
  color: #3c42e1;
  font-size: 15px;
  border: none;
  font-family: "Kumbh Sans", serif;
  border-radius: 3px;
  background-color: white;
}
#navigation-button:hover {
  background-color: #ff6347;
}
/*box-1*/
#box-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 400px;
  margin-bottom: 150px;
}
#p-1 {
  font-size: 60px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  margin-bottom: 40px;
}
#p-2 {
  font-size: 20px;
  text-align: center;
  color: #6f74f4;
  font-weight: 400;
  margin-bottom: 70px;
}
/*GRID*/
#grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px;
  column-gap: 25px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 90px;
}
.grid-minibox {
  border: 1px solid #ff6347;
  border-radius: 15px;
}
.grid-img {
  margin-top: 35px;
  margin-left: 15px;
}
.p-grid-main {
  margin-left: 15px;
  font-weight: 600;
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.p-grid {
  margin-left: 15px;
  font-size: 17px;
  margin-right: 15px;
  line-height: 1.2;
  color: #6f74f4;
}
/*img-box-1*/
.img-box-2 {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 110px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 90px;
}
.img-box {
  border-radius: 20px;
}
.p-picture-1 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 30px;
}
.p-picture-2 {
  font-size: 18px;
  line-height: 1.5;
  color: #6f74f4;
}
/*BOX-2*/
#box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4c5ea;
  padding-top: 90px;
  padding-bottom: 90px;
}
#p-3 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 40px;
}
#p-4 {
  font-size: 19px;
  margin-bottom: 40px;
  width: 700px;
  text-align: center;
  line-height: 1.5;
  color: #6f74f4;
}
#img-edit {
  border-radius: 20px;
}
